<div class="modal" style="animation: slide-left-right !important">
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
         <div class="col col33" ng-click="mdlcountry.hide()">
                <span class="ion-chevron-left yellow"></span>
                <span class="yellow">Back</span>
            </div>
            <div class="col col10" style="text-align:center;padding:0px;">
                <span>Select Country</span>
            </div>
            <div class="col col33" style="padding:0px;">
            </div>
    </ion-header-bar>
    <div class="bar bar-subheader" style="top: 40px; background-color: #000">
        <label class="item item-input searchBox" style="padding: 0px 0px 0px 10px; width: 100%; height: 35px;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Country" ng-model="mdlcountry.searchText" style="align-self: center;">
        </label>
    </div>
    <ion-content class="pane1" style="top: 84px;">
        <div class="list">
            <ion-list>
                <ion-item ng-repeat="country in countries | filter:mdlcountry.searchText " type="item-text-wrap" class="listcol" ng-click="applyModalCountry(country.Name)">
                    {{country.Name}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</div>

