<div class="modal"  style="animation:slide-left-right !important">
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
        <div class="row addrhdr">
            <div class="col col33">
                <span class="yellow" style="float: left;" ng-click="cancelModalRole()">Cancel</span>
            </div>
            <div class="col col33" style="text-align:center;">
                <span >Role</span>
            </div>
            <div class="col col33">
                <span class="yellow" style="float: right;" ng-click="doneModalRole()">Done</span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="pane1">
         <div class="list" style="margin-top:20px;">
             <ion-list>
                     <ion-item class="listcol" style="padding: 0px;" type="item-text-wrap" ng-repeat="role in roles" ng-click="applyModalRole(role.name)">
                         <db-checkbox ng-model="role.checked"
                                      ng-checked="role.checked">
                             {{role.name}}
                         </db-checkbox>
                </ion-item>
             </ion-list>
        </div>
    </ion-content>
</div>

