<div class="modal" style="animation:slide-left-right !important">
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
        <a class="item ion-chevron-right iconLeft padcmb listcol" ng-click="cancelModalInvoiceAddress()">
            <span>Cancel</span>
        </a>
        <h1 class="title">Invoice Address</h1>
        <a class="item ion-chevron-right iconLeft padcmb listcol" style="float:right;" ng-click="applyModalInvoiceAddress()">
            <span>Save</span>
        </a>
    </ion-header-bar>
    <ion-content class="pane1">
        <div class="list" style="margin-top:30px;">
            <label class="item item-input listcol">
                <textarea class="listcol coltext txtareaph" placeholder="Street" style="height:80px;" ng-model="location.invoicestreet" />
            </label>
            <label class="item item-input listcol">
                <span class="input-label coltext">From</span>
                <input class="inputrtxt" type="text" ng-model="location.invoicestreet">
            </label>
            <label class="item item-input listcol">
                <span class="input-label coltext">To</span>
                <input class="inputrtxt" type="text" ng-model="location.invoicestreet">
            </label>
            <a class="item ion-chevron-right iconLeft padcmb listcol" ng-click="openModalCountry(invoice)">
                <span>Country</span>
                <span class="itemValue">{{location.invoicecountry}}</span>
            </a>

            <a class="item ion-chevron-right iconLeft padcmb listcol" ng-click="openModalState(invoice)">
                <span>State</span>
                <span class="itemValue">{{location.invoicestate}}</span>

            </a>
            <label class="item item-input listcol">
                <span class="input-label coltext">Zip</span>
                <input class="inputrtxt" type="text" ng-model="location.invoicezip">
            </label>
            <label class="item item-input listcol">
                <span class="input-label coltext">City</span>
                <input class="inputrtxt" type="text" ng-model="location.invoicecity">
            </label>
        </div>
    </ion-content>
</div>



