<div class="modal"  style="animation:slide-left-right !important">

    
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
        <h1 class="title">Select Country</h1>
    </ion-header-bar>
    <ion-content class="pane1">
      
        <div data-role="fieldcontain" class="demo demo-date demo-datetime demo-time demo-credit">
            <label for="test">Click here to try</label>
            <input name="test" id="test" class="demo-test-date demo-test-datetime demo-test-time demo-test-credit" />
        </div>
    </ion-content>
</div>

