<div class="modal"  style="animation:slide-left-right !important">
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
        <h1 class="title">Select Group</h1>
    </ion-header-bar>
         <div class="bar bar-subheader" style="top:40px; background-color:#000">
  <label class="item item-input searchBox" style="padding:0px 0px 0px 10px; width:100%; height:35px;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Groups" ng-model="mdlgrp.searchText" style="align-self:center;">
        </label>
</div>
    <ion-content class="pane1" style="top:80px;">
        <div class="list">
            <ion-list>
                <ion-item ng-repeat=" grp in groups | filter:mdlgrp.searchText " type="item-text-wrap" class="listcol" ng-click="applyModalGrp(grp)">
                    {{grp.Name}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</div>

