<div class="modal" style="animation: slide-left-right !important">
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar ">
        <div class="row addrhdr">
            <div class="col col33">
                <span class="yellow" style="float: left;" ng-click="cancel()">Back</span>
            </div>
            <div class="col col33" style="text-align:center;">
                <span>{{header}}</span>
            </div>
            <div class="col col33">
                <span class="yellow" style="float: right;" ng-click="SaveServiceHour()">Save</span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="pane1">
        <div class="list">
            <a class="item listcol" ng-class="{ 'selected': timeType == 'from' }" ng-click="selectTime('from')" style="padding:4px 4px 4px 15px">
                <span class="time-label">From</span>
                <span class="time-label" style="float:right">{{time.openTime}}</span>
                </a>
                 <a class="item listcol" ng-class="{ 'selected':  timeType == 'to' }" ng-click="selectTime('to')" style="padding:4px 4px 4px 15px">
                <span class="time-label">To</span>
                <span class="time-label" style="float:right">{{time.closeTime}}</span>
            </a>
        </div>
        <div data-role="fieldcontain" class="demo demo-time " ng-show="timeType">
            <input ng-model="time.selectedTime" class="demo-test-time" ng-hide="true" />
        </div>
    </ion-content>
</div>

