<div class="modal" style="animation: slide-left-right !important">
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
        <h1 class="title">Select Customer</h1>
    </ion-header-bar>
    <ion-content class="pane1">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Customer" ng-model="searchText">
        </label>
        <div class="list">
            <ion-scroll direction="y">
                <ion-item ng-repeat=" cust in customers | filter:searchText " type="item-text-wrap" class="listcol" ng-click="applyModalCust(cust)">
                    {{cust.CustomerName}}
                </ion-item>
            </ion-scroll>
        </div>
    </ion-content>
</div>

