 <div class="modal" style="animation:slide-left-right !important">
            <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar ">
                <div class="row addrhdr">
                    <div class="col col33">
                        <span class="yellow" style="float: left;" ng-click="cancelContact()">Cancel</span>
                    </div>
                    <div class="col col33" style="text-align: center;">
                        <span>{{mdleditcontact.header}}</span>
                    </div>
                    <div class="col col33">
                        <span class="yellow" style="float: right;" ng-click="saveContact()">Save</span>
                    </div>
                </div>
            </ion-header-bar>
            <ion-content class="pane1" style="bottom:65px;">
                <div class="circle" style="margin:auto;" ng-click="takePicture()" id="myImage">
                </div>

                <div class="list" style="margin-top:30px;">
                    <label class="item item-input listcol">
                        <span class="input-label coltext">Name</span>
                        <input class="inputrtxt" type="text" ng-model="contact.Name">
                    </label>
                    <label class="item item-input listcol">
                        <span class="input-label coltext">Phone</span>
                        <input class="inputrtxt" type="text" ng-model="contact.Cell">
                    </label>
                    <label class="item item-input listcol">
                        <span class="input-label coltext">email</span>
                        <input class="inputrtxt" type="text" ng-model="contact.Email">
                    </label>
                    <label class="item item-input listcol">
                        <span class="input-label coltext">Position</span>
                        <input class="inputrtxt" type="text" ng-model="contact.Role">
                    </label>
                    <a class="item ion-chevron-right iconLeft padcmb listcol" ng-click="openModalRole(contact.RoleId)">
                        <span>Role</span>
                        <span class="itemValue">{{contact.Role}}</span>

                    </a>

                    <a class="item" style="text-align: center; margin-top: 20px; background-color: rgb(246, 74, 50);" ng-click="deleteContact()" ng-show="mdleditcontact.isEdit">
                        <span>Delete Contact</span>

                    </a>
                 </div>
            </ion-content>
        </div>



