<ion-view title="Select Location" hide-nav-bar="false">
    <ion-nav-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar ">
        <div class="row addrhdr">
            <div class="col col33" ng-click="goBack()">
                <span class="ion-chevron-left yellow"></span>
                <span class="yellow">Back</span>
            </div>
            <div class="col col10" style="text-align:center;padding:0px;">
                <span>Select Location</span>
            </div>
            <div class="col col33" style="padding:0px;">

            </div>
        </div>
    </ion-nav-bar>
    <div class="bar bar-subheader" style="background-color:#000">
        <label class="item item-input searchBox" style="padding:0px;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Name or zip/city" ng-model="searchText" style="align-self:center;">
        </label>
    </div>
    <ion-content class="has-header " style="top:91px; bottom:109px;" scrollbar-y="true">
        <div class="list">
            <a class="item listcol" ng-repeat="loc in locations | filter:searchText" ng-class="{ 'selected': $index == selectedLocationIndex }" ng-click="selectlocation(loc, $index)">

                <span>{{loc.LocationName}} <span ng-show="loc.City">/</span> {{loc.City}} <span ng-show="loc.Zip">,</span> {{loc.Zip}}</span>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer " style="height:75px; background-color: #353d4a; bottom:40px;">

        <button class="button button-block button-energized item-input roundButton" style="margin:auto;" ng-click="doNext()">
            NEXT
        </button>
        <!--<div class="facebook-like col" style="height:50%; margin-left:44%;margin-top:10px; width:12%">
            <a class=" fa fa-facebook-square fa-3x" style="color:#fff;"><span style="font-size:15px;">LIKE ON FACEBOOK</span></a>
        </div>-->
    </div>
</ion-view>
