<ion-view title="" hide-nav-bar="true">
    <ion-content class="has-header padding">
        <div class="logo"></div>
        <div class="list">
            <label class="item item-input bgTransparent" style="padding-left:0px;">
                <input type="email" placeholder="E-Mail" data-ng-model="userinfo.username" class="roundTxt">
            </label>
            <label class="item item-input bgTransparent" style="padding-left:0px;">
                <input type="password" placeholder="Password" data-ng-model="userinfo.password" class="roundTxt">
            </label>

        </div>
        <a class="button button-block button-energized roundButton" data-ng-click="doLogin()">
            SIGN IN
        </a>
      
     <!--<div class="facebook-like">
         <a class=" fa fa-facebook-square fa-3x" style="color:#fff;" ng-click="takePicture()"><span style="font-size:15px;">LIKE ON FACEBOOK</span></a>
        </div>-->
    </ion-content>
</ion-view>

