<ion-view title="Select Location" >
    <ion-content class="has-header padding">
        <!--<div class="list">
            <a class="item ion-chevron-right iconLeft rounddiv" ng-click="openModalLang()">
                <span> Language</span>
                <span class="itemValue">{{selectedlang}}</span>
            </a>
        </div>-->

        <div class="list" style="margin-top:60px;">
            <a class="item ion-chevron-right iconLeft roundItem" ng-click="openModalCust()">
                <span>Customer</span>
                <span class="itemValue">{{selectedcstomer}}</span>
            </a>

            <a class="item ion-chevron-right iconLeft roundItem" ng-click="openModalGrp()">
                <span>Group</span>
                <span class="itemValue">{{selectedgrp}}</span>

            </a>
            <a class="item ion-chevron-right iconLeft roundItem" ng-click="openModalPro()">
                <span>Profile</span>
                <span class="itemValue">{{selectedpro}}</span>

            </a>
        </div>
        <button class="button button-block button-energized item-input roundButton" style="margin-top:50px;" ng-click="doNext()">
            NEXT
        </button>
        <div class="facebook-like">
            <a class=" fa fa-facebook-square fa-3x" style="color:#fff;"><span style="font-size:15px;">LIKE ON FACEBOOK</span></a>
        </div>
    </ion-content>
</ion-view>