<ion-view title="Address " hide-nav-bar="false">
  <img-header id="cbAlertMode" ng-model="alertChecked" ng-checked="false" data-on="ON" data-off="OFF" data-trackcss="white" data-handlecss="handleWhite" ng-change="showConfirm(alertChecked)"></img-header>

    <ion-content class="has-header" style=" margin-top:165px">
        <div class="row addr">
            VISIT ADDRESS
        </div>

        <div class="row itemDays">
             <div class="col col-90 addrtxt">{{visitAddress[0].Street}} , {{visitAddress[0].City}} , {{visitAddress[0].Zip}}</div>
            <div class="col col-10" style="float:right"><a ng-click="openModalAddress('visit')"><i class="edithdr yellow" style="width: 50px;"></i></a></div>
        </div>

        <div class="row addr">
            INVOICE ADDRESS
        </div>
        <div class="itemDays row">
            <div class="col col-90 addrtxt">{{invoiceAddress[0].Street}} , {{invoiceAddress[0].City}} , {{invoiceAddress[0].Zip}}</div>
            <div class="col col-10" style="float:right"><a ng-click="openModalAddress('invoice')"><i class="edithdr yellow" style="width: 50px;"></i></a></div>
        </div>
    </ion-content>
</ion-view>
