<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <h1>Dash</h1>
      <div class="circle" style="background-image:
       url('https://scontent-a.xx.fbcdn.net/hphotos-xaf1/t1.0-9/10320430_10152107087289071_4026137776881157645_n.jpg')">
      </div>

      <style>
          
      </style>
      <label class="toggle">
          <input type="checkbox">
          <div class="track yellow">
              <div class="pull-left handleOn">ON</div>
              <div class="pull-right handleOf">Off</div>
              <div class="handle handleYellow"></div>
          </div>
      </label>
      <br />
      <br />
      <label class="toggle">
          <input type="checkbox">
          <div class="track white">
              <div class="pull-left handleOn">ON</div>
              <div class="pull-right handleOf">Off</div>
              <div class="handle handleWhite"></div>
          </div>
      </label>
  </ion-content>
</ion-view>
