<!--<ion-view title="Contact Deatil " hide-nav-bar="false">-->
<ion-header-bar align-title="left" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar">
    <div class="row addrhdr">
        <div class="col col33" ng-click="goBack()">
            <span class="ion-chevron-left yellow"></span>
            <span class="yellow">Back</span>
        </div>
        <div class="col col10" style="text-align:center;padding:0px;">
            <span>Contact Detail</span>
        </div>
        <div class="col col33" ng-click="openModalContact()">
            <a class="yellow listContact edithdr" style="text-decoration: none;" ng-click="openModalContact()"></a>
            <!--<label class="edithdr yellow" style="width: 80px;">Edit Contact</label>-->
        </div>
    </div>
</ion-header-bar>
<ion-content class="has-header padding pane1">
    <div class="circle" style="margin:1em 8em;" >
        <!--<img fallback-src ng-src="/img/p.png"/>-->
    </div>
    <div class="list">
        <div class="item textCenter1 bgTransparent">
            <div>{{contact.Name}}</div>
            <b style="font-size:14px;">{{contact.Role}}</b>
        </div>
    </div>
    <div class="list ">
        <a class="item item-icon-left listContact " href="geo:124.028582,-29.201930" target="_blank">
            <i class="icon ion-ios7-location"></i>
            {{contact.LocationName}}
        </a>
        <a class="item item-icon-left  listContact " href="tel:{{contact.phone}}">
            <i class="icon ion-ios7-telephone"></i>
            {{contact.Cell}}
        </a>
        <a class="item item-icon-left listContact" href="mailto:{{contact.email}}">
            <i class="icon ion-email"></i>
            {{contact.Email}}
        </a>
        <a class="item item-icon-left listContact ">
            <i class="icon ion-person"></i>
            {{contact.Role}}
        </a>
    </div>
</ion-content>

