<ion-view title="Channels" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar ">
        <div class="row addrhdr">
            <div class="col col33" ng-click="goBack()">
                <span class="ion-chevron-left yellow"></span>
                <span class="yellow">Back</span>
            </div>
            <div class="col col10" style="text-align:center;padding:0px;">
                <span>Channel</span>
            </div>
            <div class="col col33" style="padding:0px;">
              
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <img-header></img-header>
          <div style="padding-top: 245px;">
  <div class="list">
            <div class="item listcol item-icon-right row" style="padding: 5px 0px 0px 15px; font-size:15px; font-weight:bold;" ng-repeat=" channel in channels" ng-click="showActionsheet()">
                <div class="ion-android-playstore yellow" style="padding: 8px 5px 0px 0px; font-size: 30px; "></div>
                <div class="col">
                    <span>
                        <span style="font-weight:bold;">{{channel.ChannelName}}</span>
                        <span class="itemValue">{{channel.MachineName}}</span>
                    </span>

                    <p>Description</p>
                </div>
            </div>
        </div>
          </div>
      
    </ion-content>
</ion-view>
