<ion-view title="" hide-nav-bar="true">
    <ion-content class="has-header padding">
        <div class="list">
            <label class="item item-input bgTransparent">
                <input type="text" placeholder="Email" class="roundTxt">
            </label>
            <label class="item item-input bgTransparent">
                <input type="text" placeholder="Password" class="roundTxt">
            </label>
           
        </div>
        <button class="button button-block button-energized roundButton">
            login
        </button>
    </ion-content>
</ion-view>
