  <ion-view title="Opening Hours" hide-nav-bar="false">
      <img-header id="cbAlertMode" ng-model="alertChecked" ng-checked="false" data-on="ON" data-off="OFF" data-trackcss="white" data-handlecss="handleWhite" ng-change="showConfirm(alertChecked)"></img-header>
      <ion-content class="has-header" style=" margin-top:165px">
        <div class="item ion-android-clock itemDays listcol " style="padding: 0px 10px 10px 0px; font-size:15px; font-weight:bold;">
            <span>24/7</span>
            <span class="itemValue">
               <dbr-toggle id="cbAllday" ng-model="serviceHour.Is24_7" ng-checked="false" data-on="ON" data-off="OFF" data-trackcss="track yellow" data-handlecss="handleYellow"></dbr-toggle>
            </span>
        </div>
        <div class="list" ng-show="true">
            <a class="item itemDays listcol" ng-click="openModalTime()">
                <div class="serhrs">
                    <span>Monday</span>
                    <span class="itemValue ">{{serviceHour.MonOpenTime}}-{{serviceHour.MonCloseTime}}<i class="icon ion-chevron-right" style="padding-left:10px;"> </i></span>
                </div>
            </a>
            <a class="item  iconLeft itemDays listcol" ng-click="openModalTime()">
                <div class="serhrs">
                    <span>Tuesday</span>
                    <span class="itemValue ">{{serviceHour.TueOpenTime}}-{{serviceHour.TueCloseTime}}<i class="icon ion-chevron-right" style="padding-left:10px;"> </i></span>
                </div>
            </a>
            <a class="item  iconLeft itemDays listcol" href="#">
                <div class="serhrs">
                    <span>Wednesday</span>
                    <span class="itemValue ">{{serviceHour.WedOpenTime}}-{{serviceHour.WedCloseTime}}<i class="icon ion-chevron-right" style="padding-left:10px;"> </i></span>

                </div>
            </a>

            <a class="item  iconLeft itemDays listcol" href=" #">
                <div class="serhrs">
                <span>Thursday</span>
                    <span class="itemValue ">{{serviceHour.ThuOpenTime}}-{{serviceHour.ThuCloseTime}}<i class="icon ion-chevron-right" style="padding-left:10px;"> </i></span>

                </div>

            </a>
            <a class="item  iconLeft itemDays listcol" href="#">
                <div class="serhrs">
                <span>Friday</span>
                    <span class="itemValue ">{{serviceHour.FriOpenTime}}-{{serviceHour.FriCloseTime}}<i class="icon ion-chevron-right" style="padding-left:10px;"> </i></span>

                </div>
            </a>
            <a class="item  iconLeft itemDays listcol" href="#">
                <div class="serhrs">
                <span>Saturday</span>
                    <span class="itemValue ">{{serviceHour.SatOpenTime}}-{{serviceHour.SatCloseTime}}<i class="icon ion-chevron-right" style="padding-left:10px;"> </i></span>

                </div>
            </a>
            <a class="item  iconLeft itemDays listcol" href="#">
                <div class="serhrs">
                <span>Sunday</span>
                    <span class="itemValue ">{{serviceHour.SunOpenTime}}-{{serviceHour.SunCloseTime}}<i class="icon ion-chevron-right" style="padding-left:10px;"> </i></span>

                </div>
            </a>

        </div>
    </ion-content>
</ion-view>