<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

    <!-- Pets Tab -->
   

    <!-- Adopt Tab -->
    <ion-tab title="Address" icon="icon dicon-address" href="#/tab/address">
        <ion-nav-view name="tab-address"></ion-nav-view>
    </ion-tab>
    <!-- About Tab -->
    <ion-tab title="Contacts" icon="icon dicon-contact" href="#/tab/contacts">
        <ion-nav-view name="tab-contacts"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Channels" icon="icon dicon-players" href="#/tab/channels">
        <ion-nav-view name="tab-channels"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Time" icon="icon dicon-time" href="#/tab/openinghour">
        <ion-nav-view name="tab-opening"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Report" icon="icon dicon-report " href="#/tab/test">
        <ion-nav-view name="tab-test"></ion-nav-view>
    </ion-tab>
</ion-tabs>
